
  .card-list {
    width: 85vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
  }
  
  @media (max-width: 768px) {
    /* Adjustments for smaller screens */
    .card-list {
      grid-template-columns: 1fr 1fr;
      width: 60px;
      grid-gap: 10px;
    }
  }
  
  @media (max-width: 480px) {
    /* Adjustments for even smaller screens */
    .card-list {
      grid-template-columns: 1fr;
      width: 60px;
      grid-gap: 10px;
      height: 30%;
     
    }
   
  }
  
