

   .card-container {
    display: flex;
    flex-direction: column;
    background-color: #95dada;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 25px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
  }
  
  .card-container:hover {
    transform: scale(1.05);
  }
  
  .card-list {
    width: 85vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
  }
  
  @media (max-width: 768px) {
    /* Adjustments for smaller screens */
    .card-list {
      grid-template-columns: 1fr ;
      width: 60px;
      grid-gap: 10px;
    }
  }
  
  @media (max-width: 480px) {
    /* Adjustments for even smaller screens */
    .card-list {
      grid-template-columns: 1fr;
      width: 90vw;
      grid-gap: 10px;
      height: 30%;
     
    }
   
  }
  


